<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header mb-0 ">
            <div class="header-item item1"><h3 class="mb-3 font-weight-bold">EXCHANGE RATE</h3></div>
            <div class="header-item"><h4 class="pl-lg-4"><span class="font-weight-bold">Moneda:</span> {{ moneda.base }}</h4></div>
            <div class="header-item"><h4 class="pl-lg-4"><span class="font-weight-bold">Fecha:</span> {{ moneda.date }}</h4></div>
            <div class="header-item searcher">
                Escriba la moneda que desea buscar: &nbsp; &nbsp;
                <input class="pink-border" type="text" [(ngModel)]="tipo_moneda" placeholder="Search" aria-label="Search">
                <button class="btn btn-search" type="submit" (click)="onSubmit()"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="d-table">
            <div class="d-table-header-group">
                <div class="d-table-header-cell text-center">Moneda</div>
                <div class="d-table-header-cell text-center">Tarifa</div>
            </div>
            <div class="d-table-row-group">
                <div *ngFor="let t of moneda.rates" class="d-table-row">
                    <div class="d-table-cell text-center">{{ t.nombre }}</div>
                    <div class="d-table-cell text-center">{{ t.rate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
